 {
    "extends": ["airbnb", "prettier", "prettier/react"], 
    "rules":{
      "react/jsx-filename-extensuon":[
        1,
        {
          "extentions":[
            ".js"
          ]
        }
      ]
    }
  }